.questionBox {
    padding: 0;
}
.cardHeader {
    background-color: #3168B0;
    color: #fff;
    font-size: 18px;
}
.optionBox {
    margin: 20px 0;
    cursor: pointer;
}
.footerContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(38.5%, auto));
    max-width: 100%;
    width: var(--max-width);
}
.itemAlign {
    vertical-align: text-top;
}
.itemAlignLeft {
    text-align: left;
}
.itemAlignCenter {
    text-align: center;
}
.itemAlignRight {
    text-align: right;
}
.nextBtn {
    cursor: pointer;
}
.iconInactive {
    color: #878585;
    pointer-events: none;
}
.iconLayout:hover{
    color: #c9c9c9;
}

/* Mobile */
@media (max-width: 1024px) {
    .footerContainer {
        display: grid;
        grid-template-columns: repeat(3, minmax(33%, auto));
        max-width: 100%;
        width: var(--max-width);
    }
}
@media (max-width: 768px) {
    .footerContainer {
        grid-template-columns: repeat(3, minmax(30%, auto));;
    }
}