.componentContainer {
    padding: 80px 20px;
}
.loadingContainer {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}